@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<MusicalStore.Models.Dtos.Groups.GroupDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Groups</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Types)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @foreach (var type in item.Types)
                {
                    <span>@type&nbsp;</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
